.nav {
    background-color: #121619;
    color: white;
  color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.site-title {
    font-size: 22px;
}

.nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    position: relative;
}

.nav li {
    padding: 25px;
}

.nav ul li a {
    transition: 0.5s ease;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.nav>a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

.nav ul li a.active {
    font-size: 16px;
    font-weight: 700;
}

.nav ul li a:hover {
    font-size: 15px;
    font-weight: 700;
    /* transform: translateY(-2px); */
}

.cart-counters {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    font-size: 0.8em;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(50%, -50%);
  }
  